<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xi.lian.intentguolvqi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="intent过滤器"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--intent-filter是过滤器 这里的是表示为该应用程序入口-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowActivity">
            <intent-filter>
                <!--表示这个Activity是用来显示数据的-->
                <action android:name="android.intent.action.VIEW"></action>
                <!--表示这个Activity的执行时的默认动作-->
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
    </application>

</manifest>